body {
	margin: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	color: #000000;

	width: 100%;
}

.container {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
}

.nav,
.partners,
.social-icons,
.about,
.advantages,
.statistics-percent,
.main-main,
.pattern-cube,
.header {
	display: flex;
	justify-content: space-between;
}

.paragraph {
	color: #283136;
	font-size: 16px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 1.5;
	margin: 0;
}

.list {
	list-style-type: none;
}

.unordered-list {
	margin-left: 0;
	padding-left: 0; 
}

.text-title {
	padding: 0;
	margin: 0;
	font-family: "Roboto", "Arial", sans-serif;
}

.button:hover {
	opacity: 0.95;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	opacity: 1;
}

.button,
.input,
.label {
	cursor: pointer;
}

/*header*/

.header {
	padding: 49px 0px 0px 0px;
}

.nav__link {
	margin-bottom: 8px;
}

.nav__link:hover,
.basket__link:hover {
	color: #fb565a;
}

.nav__link:active,
.basket__link:active {
	opacity: 0.3;
}

.logo__link {
	outline-color: #000;
}

.logo__img {
	opacity: 1;
}

.logo__img:hover {
	opacity: .75;
}

.logo__img:active {
	opacity: .60;
}

.nav__link,
.basket__link {
	color: #000;
	text-decoration: none;
	font-family: "Roboto", "Arial", sans-serif;
	text-transform: uppercase;
	display: flex;
	outline-color: #000;
}

.nav {
	font-weight: 500;
	margin: 33px 0 0px 33px;
}


.nav a {
	margin-right: 46.3px;
	outline-color: #000;
}

.nav-link-open {
	border-bottom: 2px solid #fb565a;
}

.basket {
	font-weight: 500;
	margin: 33px 0 0px 31px;
}

.basket__link::before {
	content: "";
	background: url("../img/icons/cart-icon.svg");
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-right: 26px;
	width: 15px;
}

.button {
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	border: 0 none;
	outline-color: #000;
	border-radius: 3px;
}


/*main*/

.background {
	background: #eeeeee;
}

.border-top {
	border-top: 2px solid #efefef;
}

.border-bottom {
	border-bottom: 2px solid #efefef;
}

.list {
	list-style-type: none;
}

.about-wedo-title,
.about-statistics-suptitle,
.price-title,
.sort button,
.button-grey,
.block-cost-mam label {
	text-transform: uppercase;
}

.price-title {
	text-decoration: none;
	color: #000;
}

.price-title h3{
	margin: 0px 4px 25px 0;
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
}


.price-title h3:hover {
	color: #fb565a;
}

.price-title h3:active {
	color: #000;
	opacity: .3;
}

.button-red {
	background: #fb565a;
	padding: 15px 39px;
	text-align: center;
}

.button-red:hover {
	background: #e74246;
}

.button-red:active {
	background: #d7373b;
}

.button-green {
	background: #00ca74;
	padding: 16px 39px;
	margin-top: 35px;
}

.button-yellow {
	background: #efc84a;
	padding: 16px 39px;
	margin-top: 35px;
}

/*index-main*/
/*slide*/

.slide-all {
	position: relative;
	padding: 0;
}

.slide-one,
.slide-two,
.slide-three {
	height: 100%;
}

.slide-one .paragraph {
	width: 333px;
}

.slide-two .paragraph {
	width: 350px;
}


.slide-three .paragraph {
	width: 344px;
}

.slide-one:nth-of-type(1) {
	content: "";
	background-image: url(../img/sliders/phone.png);
	background-repeat: no-repeat;
	background-position: 432px 14px;
	padding: 75px 0 79px 0px;
}

.slide-two:nth-of-type(2) {
	content: "";
	background-image: url(../img/sliders/pc.png);
	background-repeat: no-repeat;
	background-position: 496px -3px;
	padding: 75px 0 79px 0px;
}

.slide-three:nth-of-type(3) {
	content: "";
	background-image: url(../img/sliders/tablet.png);
	background-repeat: no-repeat;
	background-position: 400px 17px;
	padding: 75px 0 79px 0px;
}

.slide-text {
	width: 525px;
}

.slide-text-title {
	width: 99%;
	font-size: 55px;
	font-weight: 500;
	padding-top: 0;

	margin-bottom: 26px;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
}

.slide-text-suptitle {
	display: inline-block;
	vertical-align: top;
}

.slide-button {
	padding: 16px 0;
	margin-top: 40px;
	display: inline-block;
	vertical-align: top;
	width: 240px;
	text-align: center;
}

.next-slide-click {
	right: 536px;
	position: absolute;
	bottom: 96px;
	display: flex;
	justify-content: space-between;
	width: 87px;
	height: 18px;
}

.next-slide-click div {
	background: #fff;
	border-radius: 50%;
	margin: 0px;
	padding: 0px;
	display: grid;
	width: 18px;
}

.slide-one-button,
.slide-two-button,
.slide-three-button {
	border-radius: 50%;
	background: #fff;
	border: none;
	width: 100%;
	height: 100%;
}

.slide-active {
	width: 10px;
	height: 10px;
	padding: 2px;
	margin: 4px;
	background: #6b5a5a00;
	border: 3px #c1c1c1 solid;
}


/*2 блок*/

.advantages {
	position: relative;
	padding: 80px 0 80px 0;
	margin: 0;
	width: 1099px;
	flex-wrap: wrap;
}

.advantages-site::before,
.advantages-application::before,
.advantages-presentation::before {
	content: "";
	width: 300px;
	height: 146px;
	background-repeat: no-repeat;
	position: absolute;
	    top: 80px;
}

.advantages-site::before {
	background-image: url(../img/advantages/websites.jpg);
}

.advantages-application::before {
	background-image: url(../img/advantages/application.jpg);
}

.advantages-presentation::before {
	background-image: url(../img/advantages/presentations.jpg);
}

.advantages-site-content,
.advantages-application-content,
.advantages-presentation-content {
	margin-top: 172px;
	width: 300px;
}

.advantages-title {
	text-transform: uppercase;
	margin: 0px 0px 17px 0;
	font-size: 24px;
}

.advantages-suptitle {
	width: 245px;
}

.button-advantages {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-top: 32px;
	color: #fff;
}

.button-advantages:active {
	box-shadow: 0px -1px 0px 0 rgba(0, 1, 1, 0.75);
}


/*3 блок*/

.about {
	padding: 39px 0 60px 0;
}

.about-information {
	width: 650px;
	margin: 34px 0 0 0;
}

.about-information-title {
	margin-bottom: 33px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 45px;
	font-weight: 500;
	line-height: 1;
}

.about-information-suptitle {
	margin-bottom: 42px;
}

.about-information-list {
	position: relative;
	line-height: 21px;
	margin-top: 27px;
	margin-left: -3px;
}

.about-information-list::before {
	content: "";
	top: 10px;
	bottom: 10px;
	left: -36px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	position: absolute;
}

.about-statistics {
	width: 360px;
}

.about-statistics-img {
	margin: 0 0 40px 0;
}

.about-statistics-suptitle {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 34px -2px 0 0;
}

.statistics-percent b {
	font-size: 45px;
	font-family: "Roboto", "Arial", sans-serif;
}

.statistics-percent sup {
	font-size: 60%;
}

.statistics-percent p {
	margin: 17px 0px 0;
}

.statistics-percent-numbers {
	width: 120px;
}


/*4 блок*/
.container-partners {
	padding-bottom: 0px;
	margin-bottom: 19px;
}

.partners {
	align-items: center;
	margin:48px 0 38px 18px;
	position: relative;
	flex-wrap: wrap;

}

.partners-list {
	width: 222px;
	text-align-last: center;
	margin-right: 20px;
}

.partners-list-border-htmlacdemy::after {
	content: "";
	background: #efefef;
	width: 2px;
	height: 52px;
	top: 14px;
	position: absolute;
	margin-left: 49px;
}

.partners-list-border-borodinsli::after {
	content: "";
	background: #efefef;
	width: 2px;
	height: 52px;
	top: 14px;
	position: absolute;
	margin-left: 45px;
}

.partners-list-border-pink::after {
	content: "";
	background: #efefef;
	width: 2px;
	height: 52px;
	top: 14px;
	position: absolute;
	margin-left: 58px;
}

.partners-list img {
	opacity: .2;
}

.partners-list img:hover {
	opacity: 1;
}

 img:active {
	opacity: .1;
}

.partners-link {
	outline-color: #000;
}


/*footer-map*/

.footer {
	padding-top: 60px;
}

.footer-feedback {
	background-image: url(../img/where/map.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 0 0 0;
	position: relative;
	height: 416px;
}

.iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.feedback-address {
	width: 219px;
	padding: 53px 50px 47px 50px;
	background: #fff;
	margin: 55px 0px;
	position: absolute;
}

.feedback-address-title {
	font-size: 18px;
	margin: 0 0 25px 0;
}

.feedback-address-suptitle {
	color: #666666;
	width: 207px;
	margin-bottom: 16px;
	margin-left: 2px;
	line-height: 1.3;
}

.feedback-address-suptitle a {
	color: #666666;
	text-decoration: none;
}

.addres-tel-link {
	outline-color: #000;
}

.addres-button {
	display: block;
	margin-top: 37px;
}

/*main-catalog*/

.header-title{
	text-align: center;
	padding: 69px 0 104px 0;
	font-size: 55px;
}

.aside {
	width: 261px;
}

.grid-title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	width: 260px;
}

.sort-list {
	width: 270px;
	display: flex;
	justify-content: space-between;
	margin: 3px 2px 0 0px;
}

.sort-link {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	opacity: .3;
	outline-color: #000;
}

.sort-link:hover {
	opacity: .7;
}

.sort-link-active {
	opacity: 1.0;
}

.grid-radio-block::before {
	background: url("../img/icons/radio-on.png");
}

.grid-radio:checked + .grid-label::before {
	content: "";
	background: url("../img/icons/radio-on.png");
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	left: -36px;
	bottom: -2px;
	opacity: .4;
}

.grid-radio:checked + .grid-label-block::before {
	content: "";
	background: url("../img/icons/radio-on.png");
	opacity: 0.1;
}

.grid-radio:hover + .grid-label::before {
	opacity: 1;
}

.grid-radio:hover + .grid-label-block::before {
	opacity: 0.1;
}

.cost-title {
	margin-bottom: 53px;
}

.block-cost {
	margin: 60px 0 46px;
	border: none;
	padding: 0;
}


.cost-slider {
	background: #eeeeee;
	padding: 40px 21px;
	position: relative;
}

.block-cost-mam {
	display: flex;
	justify-content: space-between;
}

.block-cost-mam p {
	margin: 12px 0;
}

.block-cost-mam label {
	margin-right: 10px;
}

.block-cost-mam input {
	width: 80px;
	height: 38px;
	border: none;
	background: #eeee;
	text-align: center;
}

.grid-block {
	margin: 29px 0;
	border: none;
	padding: 0;
}

.grid-unordered-list {
	padding: 0;
	margin: 11px 0;
}

.grid-block li {
	line-height: 40px;
	margin-left: 30px;
}

.radio{
	cursor: pointer;
}

.grid-block-input {
	min-width: 127px;
	width: 127px;
}

.grid-block [type="checkbox"] {
	display: none;
}

.grid-checkbox:checked + .features-label::before {
	content: "";
	background: url("../img/icons/checkbox-on.png");
	display: inline-block;
	vertical-align: top;
	width: 27px;
	height: 23px;
	left: -36px;
	bottom: -1px;
	opacity: 0.4;
}

.grid-checkbox-block:checked + .features-label::before {
	opacity: 0.1;
}

.grid-checkbox:hover + .features-label::before {
	opacity: 1;
}

.grid-checkbox-block:hover + .features-label::before {
	opacity: 0.1;
}

.grid-label::before {
	content: "";
	background: url("../img/icons/radio-off.png");
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	left: -36px;
	position: absolute;
	bottom: -2px;
	opacity: .4;
}

.grid-label {
	position: relative;
	left: 6px;
}

.grid-label-block::before {
	content: "";
	background: url("../img/icons/radio-on.png");
	opacity: 0.1;
}

.features-label::before {
	content: "";
	background: url("../img/icons/checkbox-off.png");
	display: inline-block;
	vertical-align: top;
	width: 23px;
	height: 23px;
	left: -36px;
	position: absolute;
	bottom: -1px;
	opacity: .4;
}

.features-label {
	position: relative;
	left: 6px;
}

.grid-button-grey {
	width: 260px;
	height: 50px;
	color: #000000;
	background: #f2f2f2;
}

.range {
	height: 2px;
	background: #d7dcde;
	width: 219px;
}

.range-cursor {
	height: 2px;
	background: #00CB75;
	width: 70%;
}

.range-togle-min,
.range-togle-max {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	top: 30px;
	position: absolute;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	border: 8px solid #ffffff;
	background: #acacac;
	cursor: pointer;
}

.range-togle-max {
	left: 62%;
}

.range-togle-min {
	left: 7%;
	margin: 0 0 46px 0px;
}

.products {
	width: 760px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 36px;
}

.products-pattern,
.products-pattern-right {
	width: 360px;
	height: 616px;
	position: relative;
	margin-bottom: 33px;
}


.products-pattern {
	border-radius: 5px 5px 0 0;
	border: 1px solid #eaeaea;
}

.products-pattern-right {
	margin-left: 36px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #eaeaea;
}

.products-pattern:hover,
.products-pattern-right:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}

.products-pattern-right:hover .pattern-price {
	opacity: 1;
	display: block;
}

.pattern-price {
	display: none;
	position: absolute;
	bottom: 0;
	padding: 35px 0px 41px 0px;
	background: #eeeeee;
	opacity: .12;
	width: 100%;
	text-align: center;
}

.price-suptitle {
	margin: 0 auto;
	line-height: 1.13;
	color: #666666;
}

.price-suptitle-pink,
.price-suptitle-kvas,
.price-suptitle-plus {
	width: 254px;
	overflow: auto;
	height: 36px;
}

.price-suptitle-mishka,
.price-suptitle-barbershop,
.price-suptitle-sedona {
	width: 196px;
	overflow: auto;
	height: 36px;
}

.button-price {
	width: 200px;
	margin-top: 30px;
}

.button-price:active {
	color: #fff;
}

.products-pattern:hover .pattern-price {
	opacity: 1;
	display: block;
}

.pattern-img-head {
	opacity: .12;
	display: block;
}

.products-pattern-right:hover .pattern-img-head {
	opacity: 1;
}

.products-pattern:hover .pattern-img-head {
	opacity: 1;
}

.pattern-cube {
	width: 443px;
}

.button-grey-cube-active {
	margin-right: 11px;
}

.button-grey-cube-active a {
	padding: 14px 16px 11px 19px;
	border-radius: 3px;
	background: #fff;
	text-decoration: none;
	color: #000;
	border:  solid 3px #dbdbdb;
	font-weight: 500;
}

.button-grey-cube a {
	padding: 17px 21px 14px 20px;
	border-radius: 3px;
	background: #eee;
	text-decoration: none;
	color: #000;
	margin-right: 11px;
	font-weight: 500;
}

.button-grey-cube a:hover,
.button-grey a:hover,
.button-grey:hover {
	background: #dfdfdf;
}

.button-grey a:active,
.button-grey-cube a:active,
.button-grey:active {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
	color: #969696;
}

.button-grey a {
	padding: 17px 77px 14px 78px;
	border-radius: 3px;
	background: #eee;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}

.sort {
	width: 100%;
	margin: 59px 0 55px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sort div {
	display: flex;
	justify-content: space-between;
	margin-top: 2px;
}

.sort-arrow {
	width: 40px;
	margin-left: 48px;
}

.sort-arrow-down,
.sort-arrow-up {
	opacity: 0.4;
	width: 10px;
	height: 11px;
}

.sort-arrow-up {
	transform: scaley(-1);
	margin-left: 14px;
}

.sort-arrow-active {
	opacity: 1.0;
}

/*footer-social*/

.footer-social {
	margin: 69px 0;
	display: flex;
	justify-content: space-between;
}

.social-icons {
	margin: 0;
	padding: 0;
}

.footer-text {
	margin: 4px 219px 0px 0;
	padding: 0;
}

.social-icons svg {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.footer-title {
	font-size: 36px;
	margin-bottom: 5px;
}

.social-icons-anchor {
	display: block; /* Ссылка как блочный элемент */
	text-align: center; /* Выравнивание по центру */
	height: 100%; /* Высота на весь слой */
	color: #666;
	border-radius: 50%;
	position: relative;	
	outline-color: #000;
}

.social-icons li {
	width: 79px;
	height: 79px;
	background-color: #e1e1e1;
	border-radius: 50%;
	margin-right: 12px;
}

.social-icons li:active {
	background: #D83438;
}

.social-icons li:hover {
	background: #E84044;
}

.social-icons li:active svg {
	opacity: 0.4;
}


/*форма обратной связи*/

.feedback-form {
	width: 762px;
	position: fixed;
	background: #fff;
	flex-wrap: wrap;
	padding: 42px 97px 54px 100px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
	transform: translate(-50%, -50%);
	z-index: 1;
	left: 50%;
	top: 50%;
}

.feedback-form-text {
	margin-top: 34px;
}

.feedback-form-text textarea {
	border: 1px solid #d7dcde;
	width: 741px;
	padding: 12px 0px 0px 15px;
	margin: 10px 0 0 0;
	resize: none;
}

.feedback-title {
	width: 100%;
	font-size: 44px;
	margin: 22px 0px 42px 0px;
}

.feedback-close-button {
	background: url("../img/icons/close-cross.png");
	background-repeat: no-repeat;
	border: none;
	width: 21px;
	height: 21px;
	opacity: 0.2;
	cursor: pointer;
	position: absolute;
	top: 76px;
	right: 87px;
}

.feedback-close-button:hover {
	opacity: 1;
}

.feedback-close-button:active {
	opacity: .1;
}

.feedback-form-name,
.feedback-form-email {
	width: 360px;
}

.feedback-form-name input,
.feedback-form-email input {
	width: 342px;
	border: 1px solid #d7dcde;
	padding: 17px 0px 14px 15px;
	margin-top: 7px;
}

.feedback-form-name input:hover,
.feedback-form-email input:hover,
.feedback-form-text textarea:hover {
	border: 1px solid #b4b9bb;
}

.feedback-form-name input:focus,
.feedback-form-email input:focus,
.feedback-form-text textarea:focus {
	border: 1px solid #000;
}

.feedback-button {
	margin: 44px 0 29px 0;
	padding: 18px 85px 11px 82px;
}

.none {
	display: none;
}