body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #000000;
}

header{
	background: #eeeeee;
	font-size: 16px;
	text-transform: uppercase;
}

.feedback{
	display: none;	
}

footer h3{
	font-size: 36px;
}

.social li{
	width: 70px;
	height: 70px;
	background-color: #eeeeee;
	border-radius: 50%;
}

.social a{
	display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: #666;
	border-radius: 50%;
    position: relative;
}

.social li:hover{
	background: #E84044;
}

.social svg{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.social li:active{
    background: #D83438;
}

.social li:active svg{
    opacity: 0.4;
}



footer p{
    color: #444444;
}



/*index*/
.advantages h3{
	text-transform: uppercase;
	font-size: 24px;
}

.advantages p{
	font-size: 16px;
	color: #283136;
	line-height: 1.5;
}

.advantages a{
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
	line-height: 1.5;
}


/*catalog*/
.white_back{
	display: none;
}

.catalog_title{
	background: #eeeeee;
}

aside fieldset{
	color: #283136;
}

aside legend{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}